html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video  
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Start of basic document styling */
/* * {
    margin-left: 0;
    margin-right: 0;
} */
.container {
    margin-inline: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    box-sizing: border-box;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

p {
    font-size: 16px;
}

/***************** MOBILE STYLING *****************/

    /* navigation */


    #logo {
        min-width: 300px;
        /* max-width: 400px; */
        align-self: center;

    }

    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    #sign-up {
        background-color: black;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
    }

    .nav ul li {
        list-style-type: none;
        line-height: 3rem;
        text-align: center;
        font-size: 16px;
    }

    .nav ul li:visited {
        text-decoration: none;
    }

    /* Landing graphic */
    .front-page {
        background-color: #C2C8DB;
        border-radius: 30px;
        min-width:100%;
        box-sizing: border-box;
        padding-top: 1em;
        padding-left: 2em;
        padding-right: 4em;
    }

    h1 {
        margin-bottom: -.5em;
        font-weight: 900;
        font-size: large;
    }

    #headergirl>img {
        margin-bottom: 0px;
        padding-bottom: 0px;
        max-width: 90%;
    }

    #head > p {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #shop-now {
        background-color: black;
        border: none;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: poppins;
        font-size: 16px;
        font-weight: 300;
        border-radius: 5px;
    }

    /* yellow banner */
    .yellow-banner {
        display: flex;
        flex-wrap: wrap;
        background-color: #E6C742;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }

    .yellow-banner>img {
        height: 1em;
        padding: .8em;
    }

    /* New Arrivals-Cards */

    .new {
        padding-left: 5px;
        width: 400px;
    }

    h2 {
        padding-left: .5em;
        font-size: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        font-weight: 800;
    }

    .cards>img {
        width: 100%;
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: 100%px;
        padding-left: .5em;
    }

    .explore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .explore>p {
        width: 150px;
    }

    h5 {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1em;
        margin-top: 1em;

    }


    /* Yellow Girl */

    #yellow-girl {
        background-color: #E6C742;
        width: 480px;
    }

    #girl>img {
        max-width: 480px;
    }

    #girl-text>h2 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 1rem;
        text-align: center;
    }

    #girl-text>p {
        font-size: 16px;
        text-align: center;
        line-height: 2em;
    }

    #shop {
        background-color: black;
        border: none;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: poppins;
        font-size: 20px;
        font-weight: 400;
        border-radius: 5px;
        margin-bottom: 40px;
        margin-left: 175px;

    }

    /* youngs favourites */

    #favourites {
        padding-left: 5px;
        width: 455px;
    }

    h3 {
        font-size: 1em;
        margin-left: .5em;
        width: max-content;
        font-weight: 800;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .cards-2>img {
        margin-left: 0px;
        width: 460px;
    }

    .explore>p {}

    .arrow>img {
        width: 20px;


    }

    /* phone and google/apple buttons */

    .mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "phone download";
        width: 460px;
    }

    #phone {
        grid-area: phone;
    }

    #download {
        grid-area: download;

    }

    #download {
        align-self: center;
        /* margin-right: 30px; */

    }

    #download>h2 {
        padding-left: 0px;
        margin-top: 0px;

    }

    #phone>img {
        width: 220px;
    }

    /* Bottom Banner */

    .bottom-banner {
        background-color: #E6C742;
        text-align: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 50px;
        color: white;
    }

    h4 {
        font-size: 1em;
        font-weight: 800;
        margin-bottom: 0px;
        padding-top: 1em;
    }

    .bottom-banner>p {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: .8em;
    }

    #addemail {
        width: 300px;
        height: 70px;
        font-size: .8em;
        border: 0px;
        padding-left: 20px;
        border-radius: 10px;
        border: 5px solid white;
        align-content: center;
    }

    #send-email {
        background-color: black;
        border: 22px solid white;
        color: #ffffff;
        padding-left: 15px;
        padding-right: 15px;
        font-family: poppins;
        font-size: 1em;
        font-weight: 300;
        border-radius: 5px;
        align-content: center;
    }

    #input {
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 5px;
        width: 300px;
        margin-left: 55px;

    }

    /* FOOTER */


    footer {
        background-color: black;
        width: 100%;
        margin-bottom: 0;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
        padding-bottom: 40px;
        padding-top: 40px;
        text-align: center;
        list-style-type: none;
    }

    #fashion-card>h5 {
        color: white;
        font-size: 3rem;
        text-align: center;
        font-weight: 800;
        margin: .5em;

    }

    #fashion-card>p {
        color: #C2C8DB;
        font-size: .7em;
        margin: 1em;
    }


    h6 {
        color: white;
        font-size: .9em;
        font-weight: 300;
        margin-bottom: 1em;
        margin-top: 1em;


    }

    li>.footer-list {
        color: #C2C8DB;
        text-decoration: none;
        margin-left: 0px;
        font-size: .7em;
    }

    .footer-nav>ul {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
        line-height: 2.8rem;
    }





@media only screen and (min-width : 768px) {

    .container { 
        margin: 0 auto;
    }
    .nav {
        display:flex; 
       width: 98%;

    }
    
    #logo {
        box-sizing: border-box;
        margin-bottom: 0px;
       
    }

    .nav > #logo{
        display:flex;
        align-self: flex-start;
        padding-left: 3em;
        

    }

    .nav > ul {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        justify-content: flex-end;
        gap: 2rem;
        text-decoration: none;
        list-style-type: none;
        margin-top: 0px;
        padding-left: 8rem;
        margin-bottom: 2em;
        padding-top: 2.5rem;
    }

    ul {
        padding: 0px;
    }

    /* landing content */
    #content {
        background-color: #C2C8DB;
        width: 90%;
        border-radius: 30px;
        padding-top: 2em;
        padding-left: 2em;
    }

    h1 {
        margin: 0px;
        font-size: 7rem;
        width: 8rem;
        padding-right: 3em;
    }

    #content {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    #content > img { 
        padding-left: 55%;
    }

    #headertext>p {
        font-size: 30px;
        margin-top: 1em;
        padding-bottom: 1em;
    }


    #shop-now {
        background-color: black;
        border: none;
        color: #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        font-family: poppins;
        font-size: 1em;
        font-weight: 300;
        border-radius: 10px;
    }

    /* yellow banner */
    .yellow-banner {
        display: flex;
        flex-wrap: wrap;
        background-color: #E6C742;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }

    .yellow-banner>img {
        height: 1em;
        padding: 1em;
    }

    /* NEW  ARRIVALS */
    
    
    h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 13px;
        font-weight: 800;
    }

    .cards>img {
        width: 80%;
    }

    .new{
        display: inline-flex;
        /* flex: row; */
        /* flex-wrap: wrap; */
        justify-content:space-evenly;
        width: 100%;
        align-items: center;
        
    }
    .arrow>img {
        width: 25px;
        /* padding-left: 148px; */
    }

    .cards>h5 {
        margin: 0px;
    }

    .cards > p {
        margin-top: 10px;
    }
    .cards > .explore {
        display: flex;
        flex-direction: row;
        width: 80%;
    }

    h5 { 
      padding-top: 1em;
    }

    .explore { 
        margin-top: .5em;
        margin-bottom: .5em;
    }

    /* Yellow girl */
    #girl>img {
        width: 550px;
    }

    #girl-text {
        background-color: #E6C742;
        width: 100%;
    }

    #yellow-girl { 
        display: flex; 
        flex: row;
        width: 100%;
    }

    #girl-text {
        height: 470.20px;
        text-align: left;
    }

    #girl-text>h2 {
        padding-top: 50px;
        padding-right: 200px;
        font-weight: 900;
        padding-left: 50px;
        text-align: left;
        margin-bottom: .7em;
        width: 6em;
        line-height: 1.5em;
    }

    #girl-text>p {
        padding-left: 55px;
        padding-right: 100px;
        font-weight: 400;
        text-align: left;
        padding-bottom: 1em;
    }
    #strong>p {
        font-weight: 900;
    }

    #shop {
        background-color: black;
        border: none;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: poppins;
        font-size: 20px;
        font-weight: 400;
        border-radius: 5px;
        margin-bottom: 40px;
        margin-left: 50px;

    }

    /* Youngs favourites */
#favourites  { 
    display: inline-flex; 
    /* flex-direction: row; */
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-left: 1em;
}

h3 { 
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cards-2{ 
    width: 60%;
    
}

.cards-2 > .explore { 
    width: 90%;
}

.explore > p{
    margin-top:.5em;
    margin-bottom: .5em;
}

h5 { 
    margin-top: .5em;
}


    /* PHONE & CLICKABLE LINKS */
    .mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    #download {
        align-self: center;
        margin-left: 30px;

    }

    #download>h2 {
        padding-left: 0px;
        margin-top: 0px;
        padding-right: 150px;
    }

    #download>p {
        padding-right: 150px;
        padding-bottom: 35px;
    }

    #phone>img {
        width: 480px;
    }



    /* bottom banner */
    .bottom-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E6C742;
        text-align: center;
        width: 100% ;
        padding-top: 40px;
        padding-bottom: 70px;
        color: white;
        margin: 0px;
    }

    h4 {
        font-size: 1em;
        font-weight: 800;
        margin-bottom: 0px;
        width: 400px;

    }

    .bottom-banner>p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: .8em;
    }

    #addemail {
        width: 300px;
        height: 70px;
        font-size: .8em;
        border: 0px;
        padding-left: 20px;
        border-radius: 10px;
        border: 5px solid white;
        align-content: center;
    }

    #send-email {
        background-color: black;
        border: 22px solid white;
        color: #ffffff;
        padding-left: 15px;
        padding-right: 15px;
        font-family: poppins;
        font-size: 1em;
        font-weight: 300;
        border-radius: 5px;
        align-content: center;
    }

    #input {
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 5px;
        width: 300px;
        

    }

    /* FOOTER */
    footer {
        display: flex;
        justify-content: center;
        background-color: black;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 40px;
        padding-top: 40px;
        text-align: left;
        list-style-type: none;
        padding-left: 2rem;
        padding-right: 0px;
    }

    #fashion-card>h5 {
        color: white;
        font-size: 3rem;
        font-weight: 800;
    }

    #fashion-card>p {
        color: #C2C8DB;
        font-size: .7em;
        width: 15rem;
        margin-bottom: 15px;
    }

    h6 {
        color: white;
        font-size: .9em;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 0px
        


    }

    li>.footer-list {
        color: #C2C8DB;
        text-decoration: none;
        margin-left: 0px;
        font-size: .7em;
    }

    .footer-nav>ul {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
        line-height: 2.8rem;
    }

    footer { 
        display: flex; 
        flex-direction: row;
        /* justify-content: space-between; */
        padding-right: 2rem;
    }
    footer > div {
       
    }

    .footer-nav {
        width: 230px;
        
    }

    #fashion-card { 
        padding-right: 80px;
    }
}