/* Start of basic document styling */
/* * {
    margin-left: 0;
    margin-right: 0;
} */
.container {
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    box-sizing: border-box;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

p {
    font-size: .5em;
}

/***************** MOBILE STYLING *****************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

    /* navigation */
    #logo {
        min-width: 300px;
        max-width: 400px;
        align-self: center;

    }
    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 480px;
        box-sizing: border-box;
    }

    #sign-up {
        background-color: black;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
    }

    .nav ul li {
        list-style-type: none;
        line-height: 3rem;
        text-align: center;
        font-size: 16px;
    }

    .nav ul li:visited {
        text-decoration: none;
    }

    /* Landing graphic */
    .front-page {
        background-color: #C2C8DB;
        border-radius: 30px;
        width: 480px;
        box-sizing: border-box;
        padding-top: 1em;
        padding-left: 2em;
        padding-right: 4em;

    }

    h1 {
        margin-bottom: -.5em;
        font-weight: 900;
        font-size: large;
    }

    #content>img {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-left: 100px;
        max-width: 300px;
    }

    #shop-now {
        background-color: black;
        border: none;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: poppins;
        font-size: 16px;
        font-weight: 300;
        border-radius: 5px;
    }

    /* yellow banner */
    .yellow-banner {
        display: flex;
        flex-wrap: wrap;
        background-color: #E6C742;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        width: 480px;
        margin: 0;
    }

    .yellow-banner>img {
        height: 1em;
        padding: 1em;
    }

    /* New Arrivals-Cards */


    h2 {
        padding-left: .5em;
        font-size: 1em;
    }

    .cards>img {
        width: 400px;
    }

    .cards {
        margin-left: 35px;
        width: 480px;
    }

    .cards > p {
        width: 350px;
    }

    h5 {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: -.5em;
        margin-top: -.1em;
    }

    /* Yellow Girl */

    #yellow-girl {
        background-color: #E6C742;
        width: 480px;
    }

    #yellow-girl>img {
        max-width: 480px;
    }

    #yellow-girl>h2 {
        font-size: 5rem;
        font-weight: 900;
        margin-bottom: -.5rem;
        text-align: center;
    }

    #yellow-girl>p {
        font-size: 1rem;
        text-align: center;
    }

    #shop {
        background-color: black;
        border: none;
        color: #ffffff;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        font-family: poppins;
        font-size: 35px;
        font-weight: 400;
        border-radius: 10px;
        margin-left: 325px;
        margin-bottom: 40px;

    }

    /* youngs favourites */

    h3 {
        font-size: 3rem;
        margin-left: .5em;
        width: max-content;
    }

    .cards-2 {
        margin-left: 40px;
        width: 480px;
    }

    #arrow>img {
        width: 20px;
        padding-left: 378px;

    }

    /* phone and google/apple buttons */

    .mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "phone download";
        width: 932px;
    }

    #phone {
        grid-area: phone;
    }

    #download {
        grid-area: download;

    }

    #download {
        align-self: center;
        margin-right: 30px;

    }

    #download>h2 {
        padding-left: 0px;
        margin-top: 0px;

    }

    /* Bottom Banner */

    .bottom-banner {
        background-color: #E6C742;
        text-align: center;
        width: 932px;
        padding-top: 20px;
        padding-bottom: 100px;
        color: white;
    }

    h4 {
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .bottom-banner>p {
        margin-top: 15px;
        font-size: 1.2em;
    }

    #addemail {
        width: 600px;
        height: 70px;
        font-size: 1.5rem;
        border: 0px;
        padding-left: 20px;
        border-radius: 10px;
        border: 5px solid white;
        align-content: center;
    }

    #send-email {
        background-color: black;
        border: 7px solid white;
        color: #ffffff;
        /* padding-top: 8px;
    padding-bottom: 8px; */
        padding-left: 40px;
        padding-right: 40px;
        font-family: poppins;
        font-size: 35px;
        font-weight: 300;
        border-radius: 10px;
        margin-left: -50px;
        align-content: center;
    }

    #input {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        width: 600px;
        margin: auto;
        padding-right: 10px;

    }

    /* FOOTER */
    /* .footer-nav {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
} */

    footer {
        background-color: black;
        width: 932px;
        margin-bottom: 0;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
        padding-bottom: 40px;
        padding-top: 40px;
        text-align: center;
        list-style-type: none;
    }

    #fashion-card>h5 {
        color: white;
        font-size: 3rem;
        text-align: center;
        font-weight: 800;
        padding-bottom: 1rem;

    }

    #fashion-card>p {
        color: #C2C8DB;
        font-size: 20px;

    }

    h6 {
        color: white;
        font-size: 1em;
        font-weight: 300;
        margin-bottom: 0px;


    }

    li>.footer-list {
        color: #C2C8DB;
        text-decoration: none;
        margin-left: 0px;
    }

    .footer-nav>ul {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
        line-height: 4rem;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


}


@media only screen and (min-width : 1024px) {
    /* Styles */
}